body{
    background: #363331;
    color : #e6e6e6;
}

header{
    background: #1f1d1c;
    box-shadow: 0 14px 28px rgba(255, 254, 254, 0.25),0 10px 10px rgba(156, 84, 2, 0.22);
}

.cat{
    background: #363331;
    color : #e6e6e6;
    box-shadow: 0 14px 28px rgba(96, 96, 96, 0.25),0 10px 10px rgba(54, 29, 0, 0.22);
    margin: 0px 20px;
}

#categorias{
    width: 50%;
    display: flex;
    justify-content: center;
}

#display-content{
    background: #1f1d1c;
    border-radius: 10px;
  box-shadow: 0 14px 28px rgba(255, 254, 254, 0.25),0 10px 10px rgba(156, 84, 2, 0.22);
}


.publicacion{
    width: 400px;
    height: auto;
}
  
  input[type="radio"] {
    display: none;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  

.formVal p{
    text-align: end;
}
.promedio{
    direction: ltr;
    unicode-bidi: bidi-override;
}