#drop > button{
    border: 1px solid #ec7336;
  background: #ec7336;
  color: #1f1d1c;
}

#menu > a{
    color:#e6e6e6;
}

body{
    background: #363331;
    color : #e6e6e6;
}

header{
    background: #1f1d1c;
    box-shadow: 0 14px 28px rgba(255, 254, 254, 0.25),0 10px 10px rgba(156, 84, 2, 0.22);
}

.nav-link, .navbar-brand{
    color: #e6e6e6;
}

#display-content{
    background: #1f1d1c;
    border-radius: 10px;
  box-shadow: 0 14px 28px rgba(255, 254, 254, 0.25),0 10px 10px rgba(156, 84, 2, 0.22);
}

.search{
    border: #ec7336;
}

.search:hover{
    background: #ec7336;
}

.publicacion{
    width: 400px;
    height: auto;
}
  
  input[type="radio"] {
    display: none;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }
  

.formVal p{
    text-align: end;
}
.promedio{
    direction: ltr;
    unicode-bidi: bidi-override;
}

a{
  text-decoration: none;
}

.fotito{
  width: 20px;
  height: 20px;
}

.fotito > img{
  width: 15%;
}

.comentario{
  background-color: #363331;
  border-radius: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.comentario  >.row > .contNombre{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 15px;
}

.comentario  >.row > .contNombre > p{
  padding: 0;
  margin: 0;
}