*{
    box-sizing: border-box;
}

body{
    background: #1f1d1c;
}

.contenedor{
    background-color:#363331;
    color: #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(255, 254, 254, 0.25),0 10px 10px rgba(156, 84, 2, 0.22);
    position:relative;
    overflow: hidden;
}

.marcoPortada>img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modif{
    background-color:#e6e6e6;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid #363331;
    outline: 3px solid #e6e6e6;
}

.toast-body{
    color: #363331;
}